.standardImg {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.deepitCopyright {
	font-size: 10px;
	top: 100px;
	right: 200px;
	position: absolute;
}