<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-fw" [ngClass]="loading ? 'fa-spinner fa-pulse' : 'fa-search'" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="25" placeholder="Filter" class="ui-inputtext ui-corner-all ui-state-default">
</div>
<p-dataTable [value]="events$ | async" expandableRows="true" paginator="true" [rows]="10" resizableColumns="true" [globalFilter]="gb">
  <p-column expander="true" styleClass="col-icon" [style]="{'width': '2.5em'}"></p-column>
  <p-column field="block_number" header="Block Number" [style]="{'width': '10%'}" sortable="true"></p-column>
  <p-column field="timestamp" header="Time" [style]="{'width': '10%'}" sortable="true">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span [title]="data[col.field] | date:'medium'">{{ data[col.field] | date:'y-MM-dd HH:mm:ss' }}</span>
    </ng-template>
  </p-column>
  <p-column field="event" header="Event Type" [style]="{'width': '15%'}" sortable="true"></p-column>
  <p-column field="data" header="Data">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span [title]="data['data']">{{ data['data'] }}</span>
    </ng-template>
  </p-column>
  <ng-template let-event pTemplate="rowexpansion">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="padding:10px;border-bottom:1px solid #D5D5D5;">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2" style="text-align:center;vertical-align:center;">
          <i class="fa fa-money fa-2x"></i>
        </div>
        <div class="ui-grid-col-11">
          <div class="ui-grid ui-grid-responsive ui-fluid">
            <div *ngFor="let key of event | subset:null:'event_type,block_number,timestamp,data' | keys" class="ui-grid-row">
              <div class="ui-grid-col-2"><strong>{{ key }}:</strong></div>
              <div class="ui-grid-col-10" [title]="event[key] | json">{{ event[key] | json }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataTable>
