<div fxLayout="column" class="events">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">

        <mat-icon fxLayout="column">search</mat-icon>
        <mat-form-field fxLayout="column">
            <input matInput #event_filter (keyup)="applyFilter($event.target.value)" placeholder="Filter"/>
            <button mat-button *ngIf="event_filter.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="event_filter.value=''; applyFilter('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-spinner [diameter]="'20px'" fxLayout="column" *ngIf="loading"></mat-spinner>
    </div>

    <div class="mat-elevation-z8">

        <mat-table [dataSource]="dataSource"
                   matSort
                   [trackBy]="trackByFn"
                   matSortActive="block_number"
                   matSortDirection="desc">
            <ng-container matColumnDef="block_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> Block Number</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="15"> {{row.block_number}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> Time</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="15"> {{ row.timestamp | date:'y-MM-dd HH:mm:ss' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="event">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> Event Type</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="15"> {{row.event }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="data">
                <mat-header-cell *matHeaderCellDef fxFlex="55"> Data</mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="55"> {{ row.data | ellipsis }}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     matRipple
                     class="element-row"
                     [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
                     (toggleChange)="onToggleChange($event)"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>

    <ng-template #tpl let-element>
        <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
            <div *ngFor="let key of element | subset:null:'event_type,block_number,timestamp,data' | keys"
                 class="no-wrap"
                 fxLayout="row">

                <div fxLayout="column" fxFlex="20">
                    <strong>{{ key }}:</strong>
                </div>
                <div fxLayout="column" fxFlex="80" [title]="element[key] | json">{{ element[key] | json }}</div>
            </div>
        </div>
    </ng-template>

</div>