<div fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column"
         fxFlex="0 0 30px"
         fxLayoutAlign="center center"
         *ngIf="displayIdenticon">

        <img class="identicon no-margin"
             *ngIf="(addressFc.value && addressFc.valid); else placeholder"
             src="{{identicon(addressFc.value)}}"/>

        <ng-template #placeholder>
            <mat-icon>person</mat-icon>
        </ng-template>
    </div>

    <mat-form-field fxLayout="column" fxFlex="1 1 auto" [hideRequiredMarker]="true">
        <input matInput
               type="text"
               [placeholder]="placeholder"
               [formControl]="addressFc"
               required
               pattern="^0x[0-9a-fA-F]{40}$"
               minlength="42"
               maxlength="42"/>

        <mat-error *ngIf="addressFc.invalid && (addressFc.dirty || addressFc.touched)">
            <span *ngIf="addressFc.errors['required']">
                {{errorPlaceholder}} address cannot be empty
            </span>

            <span *ngIf="addressFc.errors['minlength']; else valid_length">
                Invalid {{errorPlaceholder}} address length
            </span>

            <ng-template #valid_length>
                <span *ngIf="addressFc.errors['ownAddress']">
                    You cannot use your own address for this action
                </span>
                <span *ngIf="!addressFc.errors['pattern'] && addressFc.errors['notChecksumAddress']">
                    Address is not in checksum format: {{checksum()}}
                </span>
                <span *ngIf="addressFc.errors['pattern']">
                    The {{errorPlaceholder}} address is not in a valid format
                </span>
            </ng-template>
        </mat-error>

    </mat-form-field>
</div>