[report]
exclude_lines =
	pragma: no cover
	pragma: no unittest
	if TYPE_CHECKING:
	def __repr__
	raise NotImplementedError
	assert not isinstance
	typecheck

[run]
branch = True
include =
	raiden/*.py
	raiden/**/*.py
omit =
	raiden/tests/**
concurrency = gevent
