# temporary (?) until pyelliptic maintainers make it compatible with openssl>=1.1
-e git+https://github.com/LefterisJP/pyelliptic@make_compatible_with_openssl1_1#egg=pyelliptic
pysha3
# temporary until new version of pyethereum is released, that supports solc >= v0.4.9
-e git+https://github.com/LefterisJP/pyethapp@use_new_solc_combinedjson_key#egg=pyethapp
# temporary until pystun creates a new release
git+https://github.com/konradkonrad/pystun@develop#egg=pystun
ipython<5.0.0
rlp>=0.4.3
coincurve==4.5.1
pycryptodome>=3.4.3
miniupnpc
networkx
ethereum>=1.6.1
ethereum-serpent
repoze.lru
gevent-websocket==0.9.4
cachetools>=2.0.0,<3.0.0
Flask>=0.11.1
flask-restful
webargs
marshmallow_polyfield==3.0
