# pycodestyle==2.4.0
# To avoid [this](https://github.com/PyCQA/pycodestyle/issues/635) bug
# we need pycodestyle 2.4.0 but unfortunately this does not work with flake8
# due to https://github.com/PyCQA/pycodestyle/issues/741
# Once a new version of flake8 is released we can specify the latest pycodestyle
# version here
flake8==3.6.0
flake8-bugbear==18.8.0
flake8-commas==2.0.0
flake8-tuple==0.2.13
isort==4.2.15
readme-renderer==21.0
pylint==2.1.1
mypy==0.641
