-r requirements.txt

# Split out to allow quicker lint turnaround on CI
-r requirements-lint.txt

# Testing
pytest==3.6.2
pytest-timeout==1.2.1
pytest-random==0.02
pytest-cov==2.5.1
flaky==3.4.0
grequests==0.3.0
pexpect==4.6.0

# Debugging
pdbpp==0.9.2

# Continuous Integration
coverage==4.5.1

# Documentation
sphinx==1.6.7
sphinx_rtd_theme==0.4.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-httpexample==0.8.1
sphinxcontrib-images==0.7.0
releases==1.6.1

# Release
bump2version==0.5.8

eth-tester[py-evm]==0.1.0b28
