-r requirements.txt

# Split out to allow quicker lint turnaround on CI
-r requirements-lint.txt

# split out to allow faster building of docs and to not require python 3.7
# since they don't support it in RTD yet: https://github.com/rtfd/readthedocs.org/issues/4713
-r requirements-docs.txt

# Testing
pytest==4.4.1
pytest-cov==2.7.1
pytest-random==0.02
pytest-timeout==1.3.3
pytest-select==0.1.2
grequests==0.3.0
pexpect==4.7.0

hypothesis==3.88.3

# Debugging
pdbpp==0.10.0

# Continuous Integration
coverage==4.5.3

# Release
bump2version==0.5.10

# Test support
matrix-synapse==0.99.3
