pytest>=3.0.4
pytest-timeout
pytest-random
pysha3
pyethapp>=1.5.0
ipython<5.0.0
rlp>=0.4.3
secp256k1==0.12.1
pycryptodome>=3.4.3
miniupnpc
networkx
ethereum>=1.3.2
ethereum-serpent
u-msgpack-python
repoze.lru
gevent-websocket==0.9.4
sphinx
bumpversion
