.rn {
    color: white !important;
}

a.active {
    color: #1F86E8 !important;
}

.navigation-icon {
    display: block;
    max-height: 25px;
    max-width: 25px;
    height: auto;
    width: auto;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.mat-toolbar.mat-primary {
    background-color: black !important;
}

.sidenav-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

mat-sidenav-content {
    height: 100%;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-nav-list a {
    margin-top: 40px;
}

.account {
    font-size: medium;
}