<div class="topnav" id="myTopnav">
  <a>Raiden</a>
  <a>{{raidenAddress}}</a>
  <a>Participate Now</a>
</div>
<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a routerLink='/home' routerLinkActive="active">
          <i class="fa fa-dashboard fa-lg"></i>Home
        </a>
      </li>
      <li>
        <a routerLink='/channels' routerLinkActive="active">
          <i class="fa fa-user-plus fa-lg"></i>Channels
        </a>
      </li>
      <li>
        <a routerLink='/balances' routerLinkActive="active">
          <i class="fa fa-money fa-lg"></i>Balances
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="ui-g" id="main">
  <div class="ui-g-12">
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
  </div>

  <p-growl [(value)]="sharedService.messages" [life]="10000"></p-growl>
</div>
