<div class="topnav" id="myTopnav">
  <img src="assets/favicon.png">
  <a target="_blank" href="http://raiden.network/">Raiden Network</a>
  <strong class="address">{{raidenAddress}}</strong>
  <i class="fa fa-bars fa-2x toggle-btn pull-right" (click)="menuCollapsed=!menuCollapsed"></i>
  <a class="busy pull-right" *ngIf="sharedService.requests$ | async; let reqCount">
    <span class="fa-stack">
      <i class="fa fa-spinner fa-pulse fa-fw fa-stack-2x"></i>
      <i class="fa fa-stack-1x counter">{{ reqCount }}</i>
    </span>
  </a>
</div>
<div class="nav-side-menu" [class.collapsed]="menuCollapsed">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content out" [class.collapse]="menuCollapsed">
      <li routerLink='/home' routerLinkActive="active">
        <a>
          <i class="fa fa-dashboard fa-lg"></i>Home
        </a>
      </li>
      <li routerLink='/tokens' routerLinkActive="active">
        <a>
          <i class="fa fa-money fa-lg"></i>Tokens
        </a>
      </li>
      <li routerLink='/channels' routerLinkActive="active">
        <a>
          <i class="fa fa-user-plus fa-lg"></i>Channels
        </a>
      </li>
      <li routerLink='/license' routerLinkActive="active">
        <a>
          <i class="fa fa-book fa-lg"></i>About
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="ui-g" id="main">
  <div class="ui-g-12">
    <router-outlet></router-outlet>
  </div>
  <!-- Routed views go here -->

  <p-growl [(value)]="sharedService.messages" [life]="10000"></p-growl>
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500"></p-confirmDialog>
</div>
