<mat-toolbar color="primary" class="toolbar">
    <span fxLayoutAlign="center center" fxFlex="70px">
        <img src="assets/favicon.png" class="inverted" style="height:40px">
    </span>
    <span>
        <a class="rn" target="_blank" href="http://raiden.network/">Raiden Network</a>
    </span>
    <span class="toolbar-spacer"></span>
    <span class="truncate account">
        {{raidenAddress}}
    </span>
    <span>
        <button mat-icon-button ngxClipboard [cbContent]="raidenAddress">
            <mat-icon aria-label="Copy address to clipboard">content_copy</mat-icon>
        </button>
    </span>
    <span style="width: 36px; margin-right: 25px">
        <img class="round identicon" src="{{identicon(raidenAddress)}}"/>
    </span>
    <span [matBadge]="pendingRequests"
          style="margin-right: 10px"
          matBadgeOverlap="false"
          matBadgeColor="primary"
          matBadgePosition="after"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened
                 class="dark-theme">
        <mat-nav-list>
            <a mat-list-item routerLink='/home' routerLinkActive="active" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="0.2em">
                    <mat-icon class="navigation-icon" fxLayout="row">home</mat-icon>
                    <div class="mat-small" fxLayout="row">Home</div>
                </div>
            </a>
            <a mat-list-item routerLink='/tokens' routerLinkActive="active" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="0.2em">
                    <mat-icon class="navigation-icon" fxLayout="row">toll</mat-icon>
                    <div class="mat-small" fxLayout="row">Tokens</div>
                </div>
            </a>
            <a mat-list-item routerLink='/channels' routerLinkActive="active" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="0.2em">
                    <mat-icon class="navigation-icon" fxLayout="row">compare_arrows</mat-icon>
                    <div class="mat-small" fxLayout="row">Channels</div>
                </div>
            </a>
            <a mat-list-item routerLink='/license' routerLinkActive="active" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="0.2em">
                    <mat-icon class="navigation-icon" fxLayout="row">info</mat-icon>
                    <div class="mat-small" fxLayout="row">About</div>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
