<h1 mat-dialog-title>Register a New Token</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width-form-field"
                    [hideRequiredMarker]="true">
        <input placeholder="Enter token address"
               required
               pattern="^0x[0-9a-fA-F]{40}$"
               minlength="42"
               maxlength="42"
               matInput
               name="token-address"
               [formControl]="tokenAddress"
        />

        <mat-error *ngIf="tokenAddress.hasError('emptyAddress') && (tokenAddress.dirty || tokenAddress.touched)">
            Token address cannot be empty
        </mat-error>
        <mat-error *ngIf="
        (tokenAddress.hasError('minlength') || tokenAddress.hasError('maxlength')) &&
        (tokenAddress.dirty || tokenAddress.touched)">
            Token address should be 42 characters long
        </mat-error>
        <mat-error *ngIf="tokenAddress.hasError('invalidFormat') && (tokenAddress.dirty || tokenAddress.touched)">
            Invalid token address format
        </mat-error>
        <mat-error *ngIf="!tokenAddress.errors && notAChecksumAddress() && (tokenAddress.dirty || tokenAddress.touched)">
            Not a checksum address, try <br/> {{convertToChecksum()}} instead.
        </mat-error>

    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button
            [disabled]="tokenAddress.invalid || notAChecksumAddress()"
            (click)="registerToken()">Register
    </button>
</div>