<p-dialog header="Register New Token" [(visible)]="visible" [responsive]="true" showEffect="fade" [modal]="true" width="600">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="amount">Enter token address</label></div>
      <div class="ui-grid-col-8">
        <input pInputText type="text" [formControl]="tokenAddress" class="ui-inputtext ui-corner-all ui-state-default" placeholder="0x0000000000000000000000000000000000000000" required pattern="^0x[0-9a-fA-F]{40}$" minlength="42" maxlength="42" /></div>
    </div>
  </div>
  <p-footer>
    <div *ngIf="notAChecksumAddress()" align="left">
      <a style="color: red">{{convertToChecksum()}}</a>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-pencil" (click)="registerToken()" label="Register" [disabled]="tokenAddress.invalid || notAChecksumAddress()"></button>
    </div>
  </p-footer>
</p-dialog>
