<h1 mat-dialog-title>Register a New Token</h1>
<div mat-dialog-content [formGroup]="form">
    <app-address-input
            [displayIdenticon]="false"
            formControlName="token_address"
            placeholder="Enter token address"
            errorPlaceholder="Token network">
    </app-address-input>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button
            [disabled]="form.invalid"
            (click)="registerToken()">Register
    </button>
</div>