<h1 mat-dialog-title>Join Token Network</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width-form-field"
                    [hideRequiredMarker]="true">
        <input placeholder="Enter Funds to be allocated"
               type="number"
               [formControl]="funds"
               matInput
               min="0"/>
    </mat-form-field>
    <mat-error *ngIf="funds.value == 0">

    </mat-error>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button
            (click)="joinTokenNetwork()"
            [disabled]="funds.invalid">Join
    </button>
</div>
