[backends]
{% for node in groups['role_raiden'] %}
  [backends.be_{{ hostvars[node]['hostname'] }}]
    [backends.be_{{ hostvars[node]['hostname'] }}.servers.server1]
      url = "http://{{ hostvars[node]['private_ip'] }}:5001"
{% endfor %}

[frontends]
{% for node in groups['role_raiden'] %}
  [frontends.fe_{{ hostvars[node]['hostname'] }}]
    backend = "be_{{ hostvars[node]['hostname'] }}"
    passHostHeader = true
    [frontends.fe_{{ hostvars[node]['hostname'] }}.routes.route1]
      rule = "Host:{{ hostvars[node]['hostname'].replace("_", "-") }}.{{ testnet_domain }}"
      entryPoints = "http"
{% endfor %}
