defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.auth.basic]
      users = ["raiden:$apr1$xjPmLYWo$/LbcU0PHFRmWF3Q7.Jje4/"]
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
    [entryPoints.https.auth.basic]
      users = ["raiden:$apr1$xjPmLYWo$/LbcU0PHFRmWF3Q7.Jje4/"]

logLevel = "INFO"

[acme]
email = "ulrich@brainbot.com"
storage = "/etc/traefik/acme.json"
entrypoint = "https"
OnDemand = true

[docker]
domain = "{{ testnet_domain }}"
endpoint = "unix:///var/run/docker.sock"
exposedbydefault = false
watch = true

[file]
filename = "/etc/traefik/rules.toml"
