<div *ngIf="channels?.length > 0; then channelData else msg"></div>
<ng-template #channelData>
  <p-dataTable [value]="channels">
      <p-header>Raiden Channels</p-header>
      <p-column field="channel_address" header="Channel"></p-column>
      <p-column field="partner_address" header="Partner"></p-column>
      <p-column field="token_address" header="Token"></p-column>
      <p-column field="balance" header="Balance"
      [style]="{width: '70px', 'text-align': 'center'}"></p-column>
      <p-column field="state" header="State"
      [style]="{width: '70px', 'text-align': 'center'}"></p-column>
      <p-column field="settle_timeout" header="SettleTimeout"
      [style]="{width: '100px', 'text-align': 'center'}"></p-column>
      <p-column field="reveal_timeout" header="RevealTimeout"
      [style]="{width: '100px', 'text-align': 'center'}"></p-column>
      <p-column [style]="{width: '100px', 'text-align': 'center'}">
        <ng-template let-channel="rowData" pTemplate="body">
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item (onclick)="onTransfer(channel)">
              <i class="fa fa-exchange"></i>
              <span>Transfer</span>
            </button>
            <button md-menu-item (onclick)="onDeposit(channel)">
              <i class="fa fa-money"></i>
              <span>Deposit</span>
            </button>
            <button md-menu-item (onclick)="onClose(channel)">
              <i class="fa fa-close"></i>
              <span>Close</span>
            </button>
            <button md-menu-item (onclick)="onSettle(channel)">
              <i class="fa fa-book"></i>
              <span>Settle</span>
            </button>
          </md-menu>
        </ng-template>
      </p-column>
  </p-dataTable>
</ng-template>
<ng-template #msg>You have no Channels yet.</ng-template>
