<p-tabView class="ui-g-12">
  <p-tabPanel header="Channels">
    <div *ngIf="channels?.length > 0; then channelData else msg"></div>
    <ng-template #channelData>
      <div class="ui-g-12">
        <button type="text" (click)="onOpen()" pButton icon="fa-external-link-square" label="Open Channel"></button>
      </div>
      <p-dataTable [value]="channels" class="ui-g-12">
          <p-column field="channel_address" header="Channel"></p-column>
          <p-column field="partner_address" header="Partner"></p-column>
          <p-column field="token_address" header="Token"></p-column>
          <p-column field="balance" header="Balance"
          [style]="{width: '70px', 'text-align': 'center'}"></p-column>
          <p-column field="state" header="State"
          [style]="{width: '70px', 'text-align': 'center'}"></p-column>
          <p-column field="settle_timeout" header="SettleTimeout"
          [style]="{width: '100px', 'text-align': 'center'}"></p-column>
          <p-column field="reveal_timeout" header="RevealTimeout"
          [style]="{width: '100px', 'text-align': 'center'}"></p-column>
          <p-column [style]="{width: '100px', 'text-align': 'center'}">
            <ng-template let-channel="rowData" pTemplate="body">
              <p-menu #menu popup="popup" [model]="menuFor(channel)" appendTo="body" ></p-menu>
              <button pButton #menuButton type="button" icon="fa-ellipsis-v"
                class="ui-button-secondary" (click)="menu.toggle($event)"></button>
            </ng-template>
          </p-column>
      </p-dataTable>
    </ng-template>
    <ng-template #msg>You have no Channels yet.</ng-template>
  </p-tabPanel>
  <p-tabPanel header="Events">
    <span>Events</span>
  </p-tabPanel>
</p-tabView>

<p-dialog [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="amount">Enter amount to {{action}}</label></div>
      <div class="ui-grid-col-8"><input pInputText id="amount" [(ngModel)]="amount"/></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-exchange" (click)="manageChannel()" label="{{action| uppercase}}"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Open Channel" [(visible)]="displayChannelDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="partner">Partner Address</label></div>
            <div class="ui-grid-col-8"><input pInputText id="partner" [(ngModel)]="tempChannel.partner_address" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="token">Token</label></div>
            <div class="ui-grid-col-8">
                <p-dropdown [options]="tokenAddressMapping" [(ngModel)]="tempChannel.token_address"
                    id="token" placeholder="Select a Token" [style]="{'width':'100%'}"
                    appendTo="body" autoWidth="false" [filter]="true" >
                </p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4 top10 "><label for="balance">Balance</label></div>
            <div class="ui-grid-col-8 top10 "><input pInputText id="balance" [(ngModel)]="tempChannel.balance" type="number"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="settle">Settle Timeout</label></div>
            <div class="ui-grid-col-8"><input pInputText id="settle" [(ngModel)]="tempChannel.settle_timeout" type="number"/></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="" (click)="manageChannel()" label="Open"></button>
        </div>
    </p-footer>
</p-dialog>

<p-growl [(value)]="msgs"></p-growl>
