<div class="channels"
     fxLayout='column'
     fxFlex="90"
     fxFlex.lg="70"
     fxFlex.xl="60"
     fxFlexOffset="5"
     fxFlexOffset.xl="20"
     fxFlexOffset.lg="15">
    <mat-card fxLayout="column" class="card">
        <div fxLayout="row">
            <mat-card-title fxLayoutAlign="start" fxFlex="50">
                Channels: {{ totalChannels }}
            </mat-card-title>
            <div fxLayout="row" fxLayoutAlign="end" fxFlex="50">
                <button mat-icon-button color="accent" (click)="onOpenChannel()"
                        matTooltip="Open Channel">
                    <mat-icon aria-label="Register a new token">add_circle</mat-icon>
                </button>
            </div>
        </div>

        <mat-card-content fxLayout="row" fxLayoutGap="20px">
            <mat-icon fxLayout="column" fxFlexAlign="center">search</mat-icon>
            <mat-form-field class="example-form-field" fxFlex="45" fxLayout="column">
                <input matInput type="text" placeholder="Filter" [(ngModel)]="filter" (keyup)="applyKeywordFilter()">
                <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-icon fxLayout="column" fxFlexAlign="center">sort</mat-icon>
            <mat-form-field fxLayout="column" fxFlex="45">
                <mat-select placeholder="Sort by" [(value)]="sorting" (selectionChange)="applyFilters($event.value)">
                    <mat-option *ngFor="let option of sortingOptions" [value]="option.value">{{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="changeOrder()" matTooltip="Change the sorting order">
                <mat-icon
                        aria-label="Change sorting order">{{ ascending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                </mat-icon>
            </button>
        </mat-card-content>
    </mat-card>

    <mat-paginator class="mat-elevation-z1 paginator"
                   fxLayout="row" fxLayoutAlign="end"
                   [length]="totalChannels"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10,25,50,100]"
                   (page)="onPageEvent($event)">
    </mat-paginator>

    <div class="match-parent-height" fxLayout="column" fxLayoutAlign="center center"
         *ngIf="totalChannels == 0 && !(refreshing$ | async)">
        <mat-icon color="primary">info</mat-icon>
        <h2 class="mat-title">No channels found!</h2>
    </div>

    <div class="match-parent-height" fxLayout="column" fxLayoutAlign="center center"
         *ngIf="!filter && totalChannels == 0 && (refreshing$ | async)">
        <mat-progress-spinner
                [diameter]="60"
                [color]="'primary'"
                [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>

    <div class="channel-list" fxLayout="column" fxLayoutGap="15px">
        <mat-card *ngFor="let channel of visibleChannels; trackBy: trackByFn"
                  [id]="'channel_'+channel.channel_identifier"
                  class="card"
                  [@flyInOut]="'in'"
                  fxLayout="row"
                  fxLayoutGap="40px">

            <div fxLayout="column" fxFlex="0 0 4em" fxLayoutAlign="center">
                <img class="identicon" src="{{identicon(channel)}}"/>
            </div>
            <div class="can-shrink" fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="center" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="4px">
                    <strong>Channel:</strong>
                    <span>{{channel.channel_identifier}}</span>
                </div>
                <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <strong>Partner:</strong>
                    <span class="truncate">{{channel.partner_address}}</span>
                    <span>
                        <button mat-icon-button ngxClipboard [cbContent]="channel.partner_address">
                            <mat-icon aria-label="Copy address to clipboard">content_copy</mat-icon>
                        </button>
                    </span>
                </div>
                <div fxLayout="row" fxLayoutGap="4px">
                    <strong>Balance:</strong>
                    <span>{{channel.balance | decimal: channel.userToken.decimals}}</span>
                    <sup matTooltip="{{channel.userToken | token}}" matTooltipPosition="above"
                         class="token-symbol">
                        {{channel.userToken.symbol}}
                    </sup>
                </div>
                <div fxLayout="row" fxLayoutGap="4px">
                    <strong>State:</strong>
                    <span class="truncate">{{channel.state}}</span>
                </div>
            </div>

            <div fxLayout="column" fxFlex="0 0 5em" fxLayoutAlign="start">
                <button class="match-parent-width"
                        id="pay-button" mat-raised-button
                        color="accent"
                        [disabled]="channel.state !== 'opened' || channel.balance == 0"
                        (click)="onPay(channel)">{{ 'Pay' | uppercase }}
                </button>
                <button class="match-parent-width"
                        id="deposit-button" mat-button
                        color="accent"
                        [disabled]="channel.state !== 'opened'"
                        (click)="onDeposit(channel)">{{ 'Deposit' | uppercase }}
                </button>
                <button class="match-parent-width"
                        id="close-button" mat-button
                        color="accent"
                        [disabled]="channel.state !== 'opened'"
                        (click)="onClose(channel)">{{ 'Close' | uppercase }}
                </button>
            </div>
            <div fxLayout="column" fxFlex="0 0 1em" fxLayoutAlign="start end">
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                            [routerLink]="['/events/channels/' + channel.channel_identifier]"
                            [queryParams]="{ token_address: channel.token_address, partner_address: channel.partner_address}">
                        <span>View channel events</span>
                    </button>
                    <button mat-menu-item
                            [routerLink]="['/payments']"
                            [queryParams]="{ token_address: channel.token_address, partner_address: channel.partner_address}">
                        <span>Payment History</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card>
    </div>
</div>



