.paginator {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 5em;
}

.channels {
    height: 100%;
    padding-top: 30px;
}

.channel-list {
    padding-bottom: 40px;
}

:host {
    height: 100%;
}