<p-tabView *ngIf="(channels$ | async) || []; let channels" [activeIndex]="tabIndex" [controlClose]="true" (onClose)="handleCloseTab($event)" (onChange)="handleChangeTab($event)">
  <p-tabPanel header="Channels [{{ channels.length }}]" [headerStyle]="{'font-weight': 'bold'}">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="25" placeholder="Filter" class="ui-inputtext ui-corner-all ui-state-default">
      <button pButton type="button" (click)="showOpenChannelDialog()" icon="fa fa-external-link-square" label="Open Channel"></button>
    </div>
    <p-dataTable [value]="channels" [paginator]="true" [rows]="10" [resizableColumns]="true" [globalFilter]="gb"
                 dataKey="channel_identifier" [rowTrackBy]="rowTrackBy">
      <p-column field="channel_identifier" header="Channel" [sortable]="true">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span [title]="data[col.field]">{{ data[col.field] }}</span>
        </ng-template>
      </p-column>
      <p-column field="partner_address" header="Partner" [sortable]="true">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span [title]="data[col.field]">{{ data[col.field] }}</span>
        </ng-template>
      </p-column>
      <p-column field="token_address" header="Token" [sortable]="true">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span [title]="data[col.field]">{{ data[col.field] | token | async }}</span>
        </ng-template>
      </p-column>
      <p-column field="balance" header="Balance" [style]="{width: '7em', 'text-align': 'center'}" [sortable]="true"></p-column>
      <p-column field="state" header="State" [style]="{width: '6em', 'text-align': 'center'}" [sortable]="true"></p-column>
      <p-column field="settle_timeout" header="SettleTimeout" [style]="{width: '100px', 'text-align': 'center'}" [sortable]="true"></p-column>
      <p-column field="reveal_timeout" header="RevealTimeout" [style]="{width: '100px', 'text-align': 'center'}" [sortable]="true"></p-column>
      <p-column header="Actions" [style]="{width: '6em', 'text-align': 'center'}">
        <ng-template let-channel="rowData" pTemplate="body">
          <p-menu #menu popup="popup" [model]="channel.menu" appendTo="body"></p-menu>
          <button pButton #menuButton type="button" icon="fa fa-ellipsis-v" class="ui-button-secondary" (click)="menu.toggle($event)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-tabPanel>

  <p-tabPanel *ngFor="let eventsParam of watchEvents" [header]="'Channel Events: '+(eventsParam.channel?.channel_identifier|ellipsis:8)" [closable]="true" [leftIcon]="eventsParam.activity ? 'fa fa-bell' : ''">
    <app-event-list [eventsParam]="eventsParam" (activity)="handleActivity(eventsParam)"></app-event-list>
  </p-tabPanel>
</p-tabView>

<p-dialog [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="amount">Enter amount to {{action}}</label></div>
      <div class="ui-grid-col-8">
        <input pInputText type="number" id="amount" [(ngModel)]="amount" required class="ui-inputtext ui-corner-all ui-state-default" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-exchange" (click)="manageChannel()" label="{{action| uppercase}}"></button>
    </div>
  </p-footer>
</p-dialog>

<app-open-dialog *ngIf="displayOpenChannelDialog" [(visible)]="displayOpenChannelDialog"></app-open-dialog>
