<div class="token-network"
     fxLayout='column'
     fxFlex="90"
     fxFlex.lg="70"
     fxFlex.xl="60"
     fxFlexOffset="5"
     fxFlexOffset.xl="20"
     fxFlexOffset.lg="15">
    <mat-card fxLayout="column" class="card" fxLayoutGap.lt-sm="30px">
        <div fxLayout="row">
            <mat-card-title fxLayoutAlign="start" fxFlex="50">
                Tokens: {{ totalTokens }}
            </mat-card-title>
            <div fxLayout="row"
                 fxLayoutAlign="end" fxFlex="50">
                <button *ngIf="!main"
                        id="token-registration"
                        mat-icon-button
                        color="accent"
                        (click)="showRegisterDialog()"
                        matTooltip="Register a new token">
                    <mat-icon aria-label="Register a new token">add_circle</mat-icon>
                </button>
            </div>
            <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/events/network']">
                    <span>View network events</span>
                </button>
            </mat-menu>
        </div>

        <mat-card-content fxLayout="row"
                          fxLayout.lt-sm="column"
                          fxLayoutGap="20px">

            <div fxLayout="column" fxFlex="50" fxLayout.lt-sm="row" fxFlex.lt-sm="100">
                <div fxLayout="row" fxLayoutGap="15px" fxFlex="100" fxLayoutAlign.lt-sm="center">
                    <mat-icon fxLayout="column" fxFlexAlign="center">search</mat-icon>
                    <mat-form-field class="example-form-field" fxFlex="1 1 auto" fxLayout="column">
                        <input matInput type="text" placeholder="Filter" [(ngModel)]="filter"
                               (keyup)="applyKeywordFilter()">
                        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear"
                                (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="column" fxFlex="50" fxLayout.lt-sm="row" fxFlex.lt-sm="100">
                <div fxLayout="row" fxLayoutGap="15px" fxFlex="100">
                    <mat-icon fxLayout="column" fxFlexAlign="center">sort</mat-icon>
                    <mat-form-field fxLayout="column" fxFlex="1 1 auto">
                        <mat-select placeholder="Sort by" [(value)]="sorting"
                                    (selectionChange)="applyFilters($event.value)">
                            <mat-option *ngFor="let option of sortingOptions" [value]="option.value">{{option.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="changeOrder()"
                            fxFlexAlign="center"
                            matTooltip="Change the sorting order">
                        <mat-icon
                                aria-label="Change sorting order">{{ ascending ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}
                        </mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-paginator class="mat-elevation-z1 paginator"
                   fxLayout="row" fxLayoutAlign="end"
                   [length]="totalTokens"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageEvent($event)">
    </mat-paginator>

    <div class="match-parent-height"
         fxLayout="column"
         fxLayoutAlign="center center"
         *ngIf="totalTokens == 0 && !refreshing">
        <mat-icon color="primary">info</mat-icon>
        <h2 class="mat-title">No tokens found!</h2>
    </div>

    <div class="match-parent-height"
         fxLayout="column"
         fxLayoutAlign="center center"
         *ngIf="totalTokens == 0 && refreshing">
        <mat-progress-spinner
                [diameter]="60"
                [color]="'primary'"
                [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>

    <div class="token-list" fxLayout="column" fxLayoutGap="15px">
        <mat-card *ngFor="let token of visibleTokens; trackBy: trackByFn"
                  class="card"
                  [@flyInOut]="'in'"
                  fxLayout="row"
                  fxLayoutGap="30px">

            <div fxLayout="column" fxFlex="0 0 8em" fxLayoutAlign="center center">
                <div class="token-network-symbol"
                     fxFlexOffset="10"
                     fxFlex="row">{{token.symbol}}
                </div>
                <div class="token-network-name"
                     fxFlex="row">{{token.name}}
                </div>
            </div>
            <div class="can-shrink" fxLayout="column" fxFlex="1 2 100%" fxLayoutAlign="center" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
                    <strong>Address:</strong>
                    <span class="truncate" [matTooltip]="token.address">
                        {{token.address}}
                    </span>
                    <span>
                        <button mat-icon-button ngxClipboard [cbContent]="token.address">
                            <mat-icon aria-label="Copy address to clipboard">content_copy</mat-icon>
                        </button>
                    </span>
                </div>
                <div fxLayout="row" fxLayoutGap="4px">
                    <strong>Balance:</strong>
                    <span>{{token.balance | decimal: token.decimals}}</span>
                </div>
            </div>

            <div fxLayout="column" fxFlex="0 0 8.5em" fxLayoutAlign="center center">
                <button *ngIf="token.connected"
                        class="match-parent-width"
                        mat-raised-button
                        color="accent"
                        [disabled]="!(token.connected.sum_deposits > 0)"
                        (click)="showPaymentDialog(token)">{{ 'Pay' | uppercase }}
                </button>
                <button *ngIf="!token.connected"
                        class="match-parent-width"
                        mat-stroked-button
                        color="accent"
                        (click)="showJoinDialog(token)">{{ 'Join Network' | uppercase }}
                </button>
                <button *ngIf="token.connected"
                        class="match-parent-width"
                        mat-button
                        color="accent"
                        (click)="showLeaveDialog(token)">{{ 'Leave Network' | uppercase }}
                </button>
            </div>
            <div fxLayout="column" fxFlex="0 0 1em" fxLayoutAlign="start end">
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/events/tokens/' + token.address]">
                        <span>View token events</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card>
    </div>
</div>



