:host {
    height: 100%;
}

.header {
    margin-top: 40px;
}

.direction-label {
    font-weight: 500;
    size: 1.4rem;
}

.payment-event {
    min-height: 6em;
    max-height: 6em;
}

.mat-paginator {
    min-height: 5em;
}

.no-margin {
    margin: 0 !important;
}

.header-container {
    min-height: 110px;
}