<div class="mat-typography header"
     fxLayout='column'
     fxFlex="90"
     fxFlex.lg="60"
     fxFlex.xl="50"
     fxFlexOffset="5"
     fxLayoutGap="15px"
     fxFlexOffset.xl="25"
     fxFlexOffset.lg="20">

    <mat-card class="header-container">
        <mat-card-title>Payment history</mat-card-title>
        <mat-card-subtitle>All the payments between you and the partner on this token network.</mat-card-subtitle>
        <mat-card-content fxLayout="row" fxLayoutGap="10px" *ngIf="(partnerInformation$ | async) as info">
            <div fxLayout="column" fxFlex="0 0 3em" fxLayoutAlign="center">
                <img class="identicon no-margin" src="{{identicon(info.partnerAddress)}}">
            </div>
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="1 1 100%">
                <div><strong>Partner:</strong> {{ info.partnerAddress}}</div>
                <div><strong>Token network:</strong> {{ info.token | token }}</div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-paginator class="mat-elevation-z1 paginator"
                   fxLayout="row" fxLayoutAlign="end"
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10,25,50,100]"
                   (page)="onPageEvent($event)">
    </mat-paginator>

    <div class="match-parent-height" fxLayout="column" fxLayoutAlign="center center"
         *ngIf="length == 0">
        <mat-icon color="primary">info</mat-icon>
        <h2 class="mat-title">No payments found!</h2>
    </div>

    <div class="match-parent-height"
         fxLayout="column"
         fxLayoutAlign="center center"
         *ngIf="isLoading">
        <mat-progress-spinner
                [diameter]="60"
                [color]="'primary'"
                [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>

    <div id="payment-history" fxLayout="column" fxLayoutGap="15px">
        <mat-card *ngFor="let historyEvent of visibleHistory; trackBy: trackByFn"
                  id="payment-event-{{historyEvent.identifier}}"
                  class="payment-event"
                  [@flyInOut]="'in'"
                  fxLayout="row"
                  fxLayoutGap="40px">

            <div fxLayout="column" fxLayoutAlign="center">
                <span *ngIf="!isFailure(historyEvent.event) && historyEvent.target">
                    <mat-icon color="accent">arrow_forward</mat-icon>
                </span>
                <span *ngIf="!isFailure(historyEvent.event) && historyEvent.initiator">
                    <mat-icon color="accent">arrow_back</mat-icon>
                </span>
                <span *ngIf="isFailure(historyEvent.event)">
                    <mat-icon color="warn">warning</mat-icon>
                </span>

            </div>

            <div class="direction-label"
                 fxLayout="column"
                 fxLayoutAlign="center"
                 fxFlex="0 0 4em">{{normalizeEvent(historyEvent.event)}}
            </div>
            <div *ngIf="false" fxLayout="column" fxFlex="0 0 6em" fxLayoutAlign="center">
                {{historyEvent.identifier | date: 'medium'}}
            </div>
            <div fxLayout="column" class="can-shrink" fxFlex="1 1 100%" fxLayoutAlign="center">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                    <span *ngIf="historyEvent.target">to</span>
                    <span *ngIf="historyEvent.initiator">from</span>
                    <span class="mat-body-2 truncate">{{historyEvent.target || historyEvent.initiator}}</span>
                </div>
                <div fxLayout="row"
                     class="mat-caption"
                     *ngIf="isFailure(historyEvent.event)">
                    {{historyEvent.reason}}
                </div>
                <div fxLayout="row" fxLayoutGap="4px" *ngIf="historyEvent.amount">
                    <span class="mat-body-2">{{ historyEvent.amount | decimal: decimals }}</span>
                    <span>tokens</span>
                </div>
            </div>

        </mat-card>
    </div>

</div>


