<h1 mat-dialog-title>Open Channel</h1>
<div mat-dialog-content [formGroup]="form">
    <app-address-input
            formControlName="address"
            placeholder="Target address"
            errorPlaceholder="Target"
            [displayIdenticon]="true">
    </app-address-input>

    <app-token-network-selector
            (valueChanged)="tokenNetworkSelected($event)"
            formControlName="token">
    </app-token-network-selector>

    <app-token-input
            [placeholder]="'Balance'"
            [errorPlaceholder]="'channel balance'"
            formControlName="amount">
    </app-token-input>

    <mat-form-field class="full-width-form-field" [hideRequiredMarker]="true">
        <input matInput type="number"
               placeholder="Settle Timeout"
               formControlName="settle_timeout"
               required [min]="this.data.revealTimeout * 2"/>
        <mat-error *ngIf="form.get('settle_timeout').invalid">
            <span *ngIf="form.get('settle_timeout').hasError('invalidAmount')">
                The settle timeout has to be a number greater than zero
            </span>
            <span *ngIf="form.get('settle_timeout').hasError('min')">
                Reveal timeout is {{this.data.revealTimeout}},
                settle timeout should be at least {{this.data.revealTimeout * 2}}
            </span>
        </mat-error>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button
            [disabled]="form.invalid"
            (click)="accept()">Open Channel
    </button>
</div>
