<h1 mat-dialog-title>Open Channel</h1>
<div mat-dialog-content [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex="0 0 30px" fxLayoutAlign="center center">
            <img class="identicon no-margin"
                 *ngIf="(partnerAddress.value && !partnerAddress.invalid); else placeholder"
                 src="{{identicon(partnerAddress.value)}}"/>
            <ng-template #placeholder>
                <mat-icon>person</mat-icon>
            </ng-template>
        </div>
        <mat-form-field class="full-width-form-field" [hideRequiredMarker]="true">
            <input matInput
                   type="text" formControlName="partner_address"
                   placeholder="Partner Address" required pattern="^0x[0-9a-fA-F]{40}$"
                   minlength="42" maxlength="42" autofocus
            />
            <mat-error *ngIf="partnerAddress.value.length == 0">
                The partner address cannot be empty
            </mat-error>
            <mat-error *ngIf="partnerAddress.value.length > 0 && partnerAddress.value.length < 42">
                Invalid partner address length
            </mat-error>
            <mat-error *ngIf="partnerAddress.value.length == 42 && partnerAddress.invalid">
            <span *ngIf="partnerAddress.hasError('ownAddress')">
                You cannot open a channel to your self
            </span>
                <span *ngIf="!partnerAddress.hasError('ownAddress')">
                The partner address is not in a valid format
            </span>

            </mat-error>

        </mat-form-field>
    </div>

    <mat-form-field class="full-width-form-field" [hideRequiredMarker]="true">

        <input type="text" placeholder="Select Token" aria-label="Select Token"
               formControlName="token"
               pattern="^0x[0-9a-fA-F]{40}$"
               minlength="42"
               maxlength="42"
               required
               matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          [autoActiveFirstOption]="'true'"
                          (optionSelected)="tokenSelected($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                {{option | token }}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="token.invalid && (token.dirty || token.touched)">
            This is not a valid token network address
        </mat-error>

    </mat-form-field>

    <app-token-input
            [placeholder]="'Balance'"
            [errorPlaceholder]="'channel balance'"
            [parent]="form">
    </app-token-input>

    <mat-form-field class="full-width-form-field" [hideRequiredMarker]="true">
        <input matInput type="number"
               placeholder="Settle Timeout"
               formControlName="settle_timeout"
               required min="1"/>
        <mat-error *ngIf="settleTimeout.invalid">
            The settleTimeout has to be a number greater than zero
        </mat-error>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button
            [disabled]="form.invalid"
            (click)="accept()">Open Channel
    </button>
</div>
