.full-width-form-field {
    width: 100%;
}

.full-width-form-field .mat-form-field-infix {
    width: 100%;
}

.inverted {
    filter: invert(100%);
}

.round.identicon {
    border-radius: 50%;
}

.identicon {
    display: block;
    width: 100%;
    height: auto;
    margin: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6.25%;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
    transition: border-radius 2.5s;
    transition-delay: 3s;
}

.token-symbol {
    font-weight: 500;
    font-size: small;
}

.justify {
    text-align: justify
}

.match-parent-height {
    height: 100%;
}

.match-parent-width {
    width: 100%;
}

.events {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    min-height: 9em;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.can-shrink {
    min-width: 20px !important;
}

.toast-container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
