<div class="container">
  <div class="well well-sm">
    <h1>Payment-Channel Network for Ethereum</h1>
    <p>Raiden is a technology that leverages off-chain state networks to extend Ethereum with some nice properties for asset transfers:</p>
  </div>
  <ul>
    <li><strong> Scalable</strong>
      <p>it scales linearly with the number of participants (1,000,000+ transfers per second possible)</p>
    </li>
    <li><strong> Fast</strong>
      <p>Transfers are confirmed and final within the fraction of a second</p>
    </li>
    <li><strong> Confidential </strong>
      <p>Single transfers don’t show up in the global shared ledger</p>
    </li>
    <li><strong> Interoperable </strong>
      <p>Works with any token that follows Ethereum’s standardized token API.</p>
    </li>
    <li><strong> Low Fees </strong>
      <p>Transaction fees can be 7 orders of magnitude lower than on the blockchain</p>
    </li>
    <li><strong> Micro-payments </strong>
      <p>Low transaction fees allow to efficiently transfer tiny values.</p>
    </li>
  </ul>
  <p><a target="_blank" href="http://raiden-network.readthedocs.io">Click here</a> to visit the Raiden Network documentation.</p>
</div>
